snippet tp
	Feature: ${1:Name}

	  Background:
	    Given: ${2:State}

	  @${3:Flag}
	  Scenario Outline: Checking buttons on component
	    When ${4}
	    Then ${5}
	  Examples:
        | ${6:header} | ${7:header} |
        | ${8} | ${9} |
