snippet lg
	console.log(${1:// message});

snippet iife
	(function (${2}) {
		${3:// body}
	}(${1}));

snippet fndec
	function ${1:identifier} (${2:arguments}) {
		${0:// body}
	}

snippet fnexp
	var ${1:identifier} = function (${2:arguments}) {
		${0:// body}
	}

snippet jscom
	/*
		${1}
	 */
