snippet phpdump
	echo '<pre>'; var_dump(${1:variable}); die;
snippet phpdoc
	/**
	 * Summary
	 *
	 * Description
	 *
	 * @param   type|type   name   description
	 * @return  type|type   description
	*/
snippet phpfn
	public function ${1}(${2})
	{
		${3:// body}
	}
